# Bookshop environment variables.
BOOKSHOP_APP_PORT='8080'

# Database environment variables.
DB_CONNECTION_URL='postgres://testu:testp@127.0.0.1:5432/bookshop?sslmode=disable'
DB_MAX_OPEN_CONNS='25'
DB_MAX_IDLE_CONNS='25'
DB_CONN_MAX_IDLE_TIME='15m'
